#centralwidget {
  background-color: #fffafa;
}

QPushButton {
  background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  background-color: #bddbfa;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  color: #555;
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
}
QPushButton:hover {
  background: linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
  background-color: #80b5ea;
}
QPushButton:active {
  position: relative;
  top: 1px;
}

QPlainTextEdit,
QLineEdit {
  outline: none;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 8%;
  color: #555;
  font: 95%;
}

QPlainTextEdit:focus,
QLineEdit:focus {
  padding: 3%;
  border: 2px solid #84bbf3;
}

#txt_chave:focus {
  padding: 3%;
  border: 2px solid #84bbf3;
}

QHeaderView::section {
  font-size: 8pt;
  border: 0px;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  background-color: rgba(246, 235, 235, 0.719);
}

QTableView {
  font-size: 12pt;
  font-weight: normal;
}

QTableView#tableWidget {
  font-size: 10pt;
  font-weight: normal;
}

/*dialog_postar*/

#grupo_login {
  font: 95%;
}

QComboBox {
  font-size: 10px;
  font-weight: bold;
}

#lbl_info {
  color: #4f8a10;
  background-color: #dff2bf;
  margin: 10px 22px;
  font-size: 8pt;
  vertical-align: middle;
  border-style: dashed;
}

#lbl_message {
  color: #9f6000;
  background-color: #ffffcc;
  margin: 10px 22px;
  font-size: 8pt;
  vertical-align: middle;
  border-style: dashed;
}

QToolBox::tab {
  font: normal;
  background: #e5e5e5;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
}

QToolBox::tab:selected {
  font: italic;
  background: #80b5ea;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
