#centralwidget {
  background-color: #fffafa;
}

QPushButton {
  background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  background-color: #bddbfa;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  color: #555;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
}
QPushButton:hover {
  background: linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
  background-color: #80b5ea;
}
QPushButton:active {
  position: relative;
  top: 1px;
}

#btn_postar {
  background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  background-color: #33bdef;
  border-radius: 6px;
  border: 1px solid #057fd0;
  color: #ffffff;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  font-size: 16px;
  font-family: Montserrat;
}
#btn_postar:hover {
  background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  background-color: #019ad2;
}
#btn_postar:active {
  position: relative;
  top: 1px;
}

QPlainTextEdit,
QLineEdit {
  outline: none;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 8%;
  color: #555;
  font: 95% Montserrat Semi Bold;
}

QPlainTextEdit:focus,
QLineEdit:focus {
  padding: 3%;
  border: 2px solid #84bbf3;
}

#txt_chave:focus {
  padding: 3%;
  border: 2px solid #84bbf3;
}

QTableView {
  font-size: 10pt;
}
QTableView::item {
  padding: 20px;
}
QHeaderView::section {
  font-size: 12pt;
  font-family: Montserrat;
  padding: 5px;
  border: 0px;
}

/*dialog_postar*/
#btn_iniciar_postagem {
  font-family: Montserrat;
  font-size: 16px;
  color: #fffafa;
}

#grupo_login {
  font: 95% Montserrat Semi Bold;
}

QComboBox {
  font-size: 14px;
  font-weight: bold;
}

#lbl_info {
  margin: 10px 0px;
  padding: 12px;
}
#lbl_info {
  color: #4f8a10;
  background-color: #dff2bf;
  margin: 10px 22px;
  font-size: 11pt;
  vertical-align: middle;
  border-style: dashed;
}

#lbl_message {
  margin: 10px 0px;
  padding: 12px;
}
#lbl_message {
  color: #9f6000;
  background-color: #ffffcc;
  margin: 10px 22px;
  font-size: 12pt;
  vertical-align: middle;
  border-style: dashed;
}
